* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-image: url('./milky-way-2695569_1280.jpg');
    /* URL of your main image */
    background-size: cover;
    /* Scale the background image to cover the entire .main element */
    background-position: center;
    /* Position the background image in the center */
    background-repeat: no-repeat;
    /* Do not repeat the background image */
    height: 100vh;
    /* Set height to fill the viewport */
    display: flex;
    /* Use flexbox to center the .contain element */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}


.contain {
    display: flex;
    flex-direction: column;
    color: white;
    place-items: center;
    outline: 2rem;
    backdrop-filter: blur(10px);
    outline-color: white;
    margin: 20px;
    padding: 20px;
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.input {
    display: flex;
    margin-top: 1rem;
    padding: 2px;
}

.accept {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    margin: 2px;
    padding: 2px;
    outline: none;
    background: transparent;
    border-color: white;
    border-radius: 10px;
}

.accept:hover {
    color: white;
    background-color: rgba(234, 235, 236, 0.316);
}

.accept::placeholder {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bttn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5vmax;
    text-align: center;
    color: white;
    background: transparent;
    border-color: white;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
}

.bttn:hover {
    color: white;
    background-color: rgba(3, 4, 4, 0.316);
}

.link {
    color: white;
    text-decoration: none;
    border: 210px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    background-image: url('./milky-way-2695569_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: aliceblue;
}

.nav {
    backdrop-filter: blur(4px);
    position: relative;
    padding-top: 2vh;
    width: 100%;
    border-bottom: 0.1rem solid #59C65B;
    justify-items: center;
    align-items: center;
}

.icons {
    text-decoration: none;
    opacity: 100%;
    justify-items: center;
    align-items: center;
    color: rgb(251, 250, 250);
    margin: 1.15vw;
    padding: 1vmin;
    font-size: 5vmin;
    font-family: serif;
}

.carousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer {
    backdrop-filter: blur(4px);
    position: relative;
    width: 100%;
    border-top: 0.1rem solid #59C65B;
    justify-items: center;
    align-items: center;
    padding: 2vmax;
}

@media (width>600px) {
    .nav {
        border-bottom: 0.3rem solid #59C65B;
    }

    .carousel {
        gap: 2px;
        display: block;
        flex-wrap: wrap;
        place-items: center;
        width: 100%;
        max-width: 70vmax;
        height: 410px;
        margin: auto;
    }
}

@media (width<600px) {
    .home {
        height: 70%;
    }

    .carousel {
        row-gap: 2px;
        position: absolute;
        place-items: center;
        justify-items: center;
        align-items: center;
        width: 90%;
        object-fit: cover;
        margin: auto;
    }
}


.messageBox {    
    color: white;
    width: 95%;
    height: 90vh;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.rMessage {
    float: left;
    clear: both;
    margin: .5vh;
}

.sMessage {
    float: right;
    clear: both;
    margin: .5vh;
}

.acceptBox {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leaflet-container {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}